* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 80vw;
  margin: 0 auto;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

form,
table {
  max-width: 100%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #ccc;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px;
}

button:hover {
  opacity: 0.8;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #ddd;
  color: #333;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

td span {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
}

td span:hover {
  background-color: #ccc;
  color: white;
}
