<main>
  <form>
    <label for="id">Id</label>
    <input type="text" name="id" disabled [(ngModel)]="id" />

    <label for="cliente">Cliente</label>
    <input type="text" name="cliente" [(ngModel)]="cliente" />

    <label for="agencia">Agência</label>
    <input type="text" name="agencia" [(ngModel)]="agencia" />

    <label for="conta">Conta</label>
    <input type="text" name="conta" [(ngModel)]="conta" />

    <label for="Saldo">Saldo</label>
    <input type="text" name="saldo" [(ngModel)]="saldo" />

    <button (click)="cadastrarContas()">{{ id ? "Salvar" : "Criar" }}</button>
  </form>
  <table>
    <thead>
      <th>Id</th>
      <th>Cliente</th>
      <th>Agência</th>
      <th>Conta</th>
      <th>Saldo</th>
      <th>Ações</th>
    </thead>
    <tbody>
      <tr *ngFor="let conta of contas">
        <td>{{ conta.id }}</td>
        <td>{{ conta.cliente }}</td>
        <td>{{ conta.agencia }}</td>
        <td>{{ conta.conta }}</td>
        <td>{{ conta.saldo }}</td>
        <td>
          <span (click)="preencherCampos(conta)">Editar</span>
          <span (click)="deletarContas(conta.id!)">Excluir</span>
        </td>
      </tr>
    </tbody>
  </table>
</main>
